@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 259deg 100% 65%;
    --color-light-red: 0deg 100% 67%;
    --color-white: 0deg 0% 100%;
    --color-off-white: 0deg 0% 94%;
    --color-light-grey: 0deg 0% 86%;
    --color-smokey-grey: 0deg 1% 44%;
    --color-off-black: 0deg 0% 8%;
  }
}
